/* Resetear estilos para mayor consistencia en diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

/* Navegación */
nav {
    background-color: #2c3e50;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 16px;
}

/* Secciones */
section {
    padding: 30px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Pie de página */
footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 2em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para enlaces */
a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para la imagen de perfil */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Estilos para el contenido de las secciones */
section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
